:root {
    --black: #333;
    --medium: #888;
    --white: #eee;
    --green: rgb(76, 199, 189);
    --besley: 'Besley', serif; /*Serif. 400, 400 italic, 700*/
    --montserrat: 'Montserrat', sans-serif; /*Sans serif. 300, 400, 600*/

}
/********************Config********************/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/********************General********************/

body {
    background-color: var(--black);
}
.container {
    display: block;
    margin: 0 auto;
    width: 90%;
    /*Visualization border*/
    /* border: solid 1px  red;  */
}
@media (min-width: 1200px) {
    .container {
    width: 50%;
    }
  }
@media (min-width: 768px) {
    .container {
    width: 75%;
    }
}
a {
    padding: .6rem;
    text-decoration: none;
    list-style-type: none;
    color: unset; /*THIS NEEDS MODIFICATION AFTER CHOSING PALETTE*/
}

/********************Type and text********************/

/*LOGO PLACEHOLDER*/
/*NAV*/
nav a, h1 a {
    font-family: var(--montserrat);
}

h1 a {
    font-weight: 600;
    font-size: 2.5rem;
} 
#logo {
    padding: .5rem;
}


/*Various*/
h1, h3, .uppercase {
    text-transform: uppercase;
}
h2, h3 {
    color: var(--green);
    font-family: var(--montserrat);
    font-weight: 600;
}

p, a {
    color: var(--white);
}
h2, h3 {
    margin: .5rem 0;
}

/********************Header & nav********************/

header {
    height: 6rem;
    width: 100%;
    margin-top: 0;
    position: fixed;
    border-bottom: 2px solid var(--green);
    /*visualization border*/
    /* outline: 1px solid green; */
}

header nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
nav h1 {
    height: 4rem;
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    padding-top: .2rem;
}
nav .menu {
    height: 2rem;
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    list-style-type: none;
}

.menu li a {
    font-weight: 600;
}
.menu li a:hover {
    border-bottom: 3px solid var(--green);
    background-color: var(--green);
    
} 




/********************Welcome********************/
main{
    
}

/********************Welcome********************/


#welcome-section {
    height: calc(100vh - 1rem);
    width: 95%;
    padding-top: 6rem; /*same as header height*/
    display: flex;
    flex-direction: column;
    
}
.welcome-section__greeting {
    flex-grow: 10;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-section__greeting h2{
    font-size: 3rem;
    align-self: stretch;
    text-align: center;
}


.welcome-section__about-me {
    flex-grow: 2;
    margin: 0rem 1rem;
    text-align: center;
    
}
.welcome-section__about-me p {
    padding-bottom: .5rem;
}

/********************PROJECTS********************/
#projects {
    padding: 2rem;
}
#projects h2 {
    text-align: center;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    
}

.project-tile {
    display: inline;
    border: 1px solid #000;
    width: 40%;
    height: 40%;
    margin: 0 auto;
}
 
@media (min-width: 768px) {
    .project-tile {
        max-width: 40%;
    }   
} 

