:root {
    --black: #222;
    --medium: #888;
    --white: #eee;
    /* --green: rgb(76, 199, 189); */
    --green: #02a4d3;
    --besley: 'Besley', serif; /*Serif. 400, 400 italic, 700*/
    --montserrat: 'Montserrat', sans-serif; /*Sans serif. 300, 400, 600*/

}
/********************Config********************/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/********************General********************/

body {
    background-color: var(--black);
}
.container {
    display: block;
    margin: 0 auto;
    width: 90%;
    /*Visualization border*/
    /* border: solid 1px  red;  */
}
@media (min-width: 1200px) {
    .container {
    width: 50%;
    }
  }
@media (min-width: 768px) {
    .container {
    width: 75%;
    }
}
a {
    text-decoration: none;
    list-style-type: none;
    color: unset; /*THIS NEEDS MODIFICATION AFTER CHOSING PALETTE*/
}

/********************Type and text********************/

/*LOGO PLACEHOLDER*/
/*NAV*/
nav a, h1 a {
    font-family: var(--montserrat);
}

h1 a {
    font-weight: 600;
    font-size: 2.5rem;
    
    
} 

/*Various*/
h1, h3, .uppercase {
    text-transform: uppercase;
}
h2, h3, h4 {
    color: var(--green);
    font-family: var(--montserrat);
    font-weight: 600;
}

p, a {
    color: var(--white);
}
h2, h3 {
    margin: .5rem 0;
}

/*****************************************************/
/********************Header & nav********************/

header {
    height: 8rem;
    width: 100%;
    padding-top: 1rem;
    position: fixed;
    background-color: var(--black);
    border-bottom: 2px solid var(--green);
    z-index: 50;
}

header nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
nav h1 {
    height: 4rem;
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    padding-top: .2rem;
}
nav .menu {
    height: 2rem;
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
    /*visualization border*/
    /* outline: 1px solid green; */
}

.menu li a {
    font-weight: 600;
    padding: 1rem;
}
.menu li a:hover {
    background-color: var(--green);    
} 

/*******************************************************/
/********************Welcome section/Projects section********************/
#welcome-section, #projects {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 1rem);
    padding-top: 11rem; /*same as header height (8rem) + image padding-top (3rem)*/
}
/********************Image DIV********************/
.welcome-section__img{
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.welcome-section__img img{
    border-radius: 50%;
    height: 75%;
    filter: grayscale(100%);
}

/********************Greeting DIV********************/
.welcome-section__greeting {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    
}

.welcome-section__greeting h2{
    font-size: 3rem;
    align-self: stretch;
    text-align: center;
}

/********************About Me DIV********************/
.welcome-section__about-me {
    flex-grow: 1;
    margin: 0rem 1rem;
    text-align: center;
    
}
.welcome-section__about-me p {
    padding-bottom: .5rem;
}

/********************PROJECTS********************/
#projects {
    padding: 2rem;
}
#projects h2, #projects h3, #projects h4, #projects p {
    text-align: center;
    margin: .5rem;
}
.projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    
}

.project-tile {
    max-width: 100%;
    margin: 1rem auto 2rem auto;
}

.project-tile a img {
    border: 1px solid #000;
    max-width: 100%;
}
 
@media (min-width: 1200px) {
    .projects-container{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .project-tile {
        max-width: 40%;
    }   
} 

